<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpenseManager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
     integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.min.js" integrity="sha512-qKyIokLnyh6o
     SnWsc5h21uwMAQtljqMZZT17CIMXuCQNIfFSFF4tJdMOaJHL9fQdJUANid6OB6DRR0zdHrbWAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
       <a class="navbar-brand" href="/displayExpenses">Expense Manager</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="NavbarNav">
        <span class="navbar-toggle-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">  
            <li class="nav-item">
                <a class="nav-link" href="/add">Add Expenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/displayExpenses">View Expenses</a>
            </li>
        </ul>
       </div>
      </nav>
    {% block body %}
    
    {% endblock %}
</body>
</html>